services:
  mongodb:
    image: mongo:latest
    container_name: backchat
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    ports:
      - 27018:27017
    volumes:
      - ./mongodb_data:/data/db
